@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
  --Grayish-Blue: #313a49;
  --Dark-Grayish-Blue: #202632;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  background-color: var(--Dark-Grayish-Blue);
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 20px;
}

img{
  width: 100%;
}

.box {
  position: absolute;
  max-width: 550px;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Grayish-Blue);
  border-radius: 12px;
  padding: 2.3rem;
  text-align: center;
  margin-bottom: 50px;
}

.quote-id {
  font-size: 10px;
  letter-spacing: 5px;
  color: var(--Neon-Green);
  font-weight: 100;
  text-transform: uppercase;
}

.box .quote {
  margin: 20px 0;
  font-size: 28px;
  color: var(--Light-Cyan);
}

.divider-desk {
  margin-bottom: 15px;
}

.divider-mobile {
  display: none;
}

.btn-change {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  padding: 0.8rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--Neon-Green);
  cursor: pointer;
}
.btn-change:hover {
  box-shadow: 0 0 8px hsla(150, 100%, 66%, 0.75);
  transition: 0.3s ease-in-out;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 700px){

  .box {
    width: 400px;
  }

  .divider-desk {
    display: none;
  }
  .divider-mobile {
    display: block;
    margin-bottom: 15px;
  }
}